<html>
<head>
 	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="/js/html5shiv.min.js" %}"></script>
			<script src="/js/respond.min.js" %}"></script>
		<![endif]-->
</head>
<body>
	<h3>Welcome <%= user.FULL_NAME %>!</h3>
	<p class="text-right">Logged in as <%= user.DESCRIPTION %></p>
	
	<% if(user.DESCRIPTION === 'Customer') { %>
   		Answer the following questions:
   		<form id="answer-form" method="POST" action="/home/">
   			<!-- Question 1 -->
   			<div>
   				<p>1. What is 2 + 2?</p>
	   			<label class="radio-inline">
	  				<input type="radio" name="question1" id="question11" value="2"> 2
				</label>
				<label class="radio-inline">
	  				<input type="radio" name="question1" id="question12" value="4"> 4
				</label>
				<label class="radio-inline">
	  				<input type="radio" name="question1" id="question13" value="6"> 6
				</label>
				<!--Error div -->
				<div id="question1-error" class="alert alert-danger" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			  		<span class="sr-only">Error:</span>
			  			Choose an answer option
				</div>
				<!--Feedback div -->
				<p class="text-danger"><%= typeof feedback !='undefined' ? feedback.answer1.response : '' %></p>
			</div>
			<!-- Question 2 -->
			<div>
				<p>2. What is 3 &times; 4?</p>
	   			<label class="radio-inline">
					<input type="radio" name="question2" id="inlineRadio21" value="12"> 12
				</label>
				<label class="radio-inline">
	  				<input type="radio" name="question2" id="inlineRadio22" value="24"> 24
				</label>
				<label class="radio-inline">
	  				<input type="radio" name="question2" id="inlineRadio23" value="36"> 36
				</label>
				<!--Error div -->
				<div id="question2-error" class="alert alert-danger" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			  		<span class="sr-only">Error:</span>
			  			Choose an answer option
				</div>
				<!--Feedback div -->
				<p class="text-danger"><%= typeof feedback !='undefined' ? feedback.answer2.response : '' %></p>
			</div>
			<!-- Question 3 -->
			<div>
				<p>3. What is 2 &divide; 2?</p>
	   			<label class="radio-inline">
	  				<input type="radio" name="question3" id="inlineRadio31" value="1"> 1
				</label>
				<label class="radio-inline">
	  				<input type="radio" name="question3" id="inlineRadio32" value="2"> 2
				</label>
				<label class="radio-inline">
	  				<input type="radio" name="question3" id="inlineRadio33" value="3"> 3
				</label>
				<!--Error div -->
				<div id="question3-error" class="alert alert-danger" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			  		<span class="sr-only">Error:</span>
			  			Choose an answer option
				</div>
				<!--Feedback div -->
				<p class="text-danger"><%= typeof feedback !='undefined' ? feedback.answer3.response : '' %></p>
			</div>
			<button id="submit-answers" type="submit" class="btn btn-success">Submit Answers</button>
   		</form>		
   		
 	<% } 
 		else if(user.DESCRIPTION === 'Administrator') { %>
 		<p class="bg-info">Customers were allowed to submit answers multiple times.	</p>  
   		<table class="table">
   			<caption>Answers submitted by the customer</caption>
   			<thead>
   				<tr>
   					<th>Customer Full Name</th>
   					<th>Answer 1</th>
   					<th>Status</th>
   					<th>Answer2</th>
   					<th>Status</th>
   					<th>Answer3</th>
   					<th>Status</th>
   				</tr>
   			</thead>
   			<tbody>
   				<% for(var i=0; i<answers.length; i++) {%>
					<tr>
						<td><%= answers[i].FULL_NAME %></td>
						<td><%= answers[i].ANSWER_ONE %></td>
						<td><%= answers[i].FEEDBACK_ONE %></td>
						<td><%= answers[i].ANSWER_TWO %></td>
						<td><%= answers[i].FEEDBACK_TWO %></td>
						<td><%= answers[i].ANSWER_THREE %></td>
						<td><%= answers[i].FEEDBACK_THREE %></td>
					</tr>
				<% } %>
   			</tbody>
   		</table>
	<% } %>

	<p class="text-right"><a href="/logout">Logout</a></p>
</body>
<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
	var answer1 = "<%= typeof feedback !='undefined' ? feedback.answer1.value : '' %>"
	var answer2 = "<%= typeof feedback !='undefined' ? feedback.answer2.value : '' %>"
	var answer3 = "<%= typeof feedback !='undefined' ? feedback.answer3.value : '' %>"
	if(answer1 != '' && answer2 != '' && answer3 != '') {
		$("input[name=question1][value=" + answer1 + "]").attr('checked', 'checked');
		$("input[name=question2][value=" + answer2 + "]").attr('checked', 'checked');
		$("input[name=question3][value=" + answer3 + "]").attr('checked', 'checked');
	}
	var hideDiv = function() {
		$("#question1-error").hide();
		$("#question2-error").hide();
		$("#question3-error").hide();
	};

	hideDiv();

	$("#answer-form").on('submit', function(event) {
		var valid = true;
		hideDiv();
		if(!$("input[name=question1]:checked").val()){
			$("#question1-error").show();
			valid = false;
		}
		if(!$("input[name=question2]:checked").val()) {
			$("#question2-error").show();
			valid = false;
		}
		if(!$("input[name=question3]:checked").val()){
			$("#question3-error").show();
			valid = false;
		}
		if(!valid)
			event.preventDefault();
	});
</script>
</html>