<html>
<head>
	<link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
	<h3>Welcome <%= user.FULL_NAME %>!</h3>
	<p>Logged in as <%= user.DESCRIPTION %></p>
	
	<% if(user.DESCRIPTION === 'Customer'){ %>
   		Answer the following questions:
   		<form method="POST" action="/home/">
   			<!-- Question 1 -->
   			<div>
   				<p>1. What is 2 + 2?</p>
	   			<label class="radio-inline">
	  				<input type="radio" name="question1" id="question11" value="2"> 2
				</label>
				<label class="radio-inline">
	  				<input type="radio" name="question1" id="question12" value="4"> 4
				</label>
				<label class="radio-inline">
	  				<input type="radio" name="question1" id="question13" value="6"> 6
				</label>
				<p class="text-danger"><%= typeof feedback !='undefined' ? feedback.answer1.response : '' %></p>
			</div>
			<!-- Question 2 -->
			<div>
				<p>2. What is 3 &times; 4?</p>
	   			<label class="radio-inline">
					<input type="radio" name="question2" id="inlineRadio21" value="12"> 12
				</label>
				<label class="radio-inline">
	  				<input type="radio" name="question2" id="inlineRadio22" value="24"> 24
				</label>
				<label class="radio-inline">
	  				<input type="radio" name="question2" id="inlineRadio23" value="36"> 36
				</label>
				<p class="text-danger"><%= typeof feedback !='undefined' ? feedback.answer2.response : '' %></p>
			</div>
			<!-- Question 3 -->
			<div>
				<p>3. What is 2 &divide; 2?</p>
	   			<label class="radio-inline">
	  				<input type="radio" name="question3" id="inlineRadio31" value="1"> 1
				</label>
				<label class="radio-inline">
	  				<input type="radio" name="question3" id="inlineRadio32" value="2"> 2
				</label>
				<label class="radio-inline">
	  				<input type="radio" name="question3" id="inlineRadio33" value="3"> 3
				</label>
				<p class="text-danger"><%= typeof feedback !='undefined' ? feedback.answer3.response : '' %></p>
			</div>
			<button type="submit" class="btn btn-success">Submit Answers</button>
   		</form>		
   		
 	<% } 
 		else if(user.DESCRIPTION === 'Administrator'){ %>  
   		Administrator
	<% } %>

	<p class="text-right"><a href="/logout">Logout</a></p>
</body>
<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
	var answer1 = "<%= typeof feedback !='undefined' ? feedback.answer1.value : '' %>"
	var answer2 = "<%= typeof feedback !='undefined' ? feedback.answer2.value : '' %>"
	var answer3 = "<%= typeof feedback !='undefined' ? feedback.answer3.value : '' %>"
	if(answer1 != '' && answer2 != '' && answer3 != '') {
		$("input[name=question1][value=" + answer1 + "]").attr('checked', 'checked');
		$("input[name=question2][value=" + answer2 + "]").attr('checked', 'checked');
		$("input[name=question3][value=" + answer3 + "]").attr('checked', 'checked');
	}
</script>
</html>